/* Container spacing */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Vertical event cards */
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Card-Header-BG-Color);
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-Name-Color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.card-title a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  cursor: pointer;
  &:hover {
text-decoration: underline;
  }
  
}

.card-image img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.cardEvent-details {
  text-align: left;
}
.card {
  height: 100%;    /* Allow flex/grid to stretch */
  // margin: ;
}

.card-body {
  display: flex;
  flex-direction: column;   /* Stack content vertically */
  justify-content: flex-start;
  height: 100%;             /* Ensure it fills card container */
}

.card-text-description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
//   -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .card.flex-row {
    flex-direction: column;

    img.card-img-left {
      width: 100%;
      height: 200px;
    }
  }
}
