
<div class="row g-4 p-3">
  <div class="col-12 col-md-6">
    <div class="card h-100">
        <div class="card-header fw-bold">
            G. Shiva Prasad Raju
        </div>
      <div class="card-body">
        <p class="card-text">Phone +91 9448333260</p>
        <p class="card-text">Email: sjs&#64;gmail.com</p>
        <p class="card-text">Address: 123, Some Street, Some City, Some Country - 123456</p>
        <p class="card-text">Designation: CEO</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card h-100">
        <div class="card-header fw-bold">
            V. Vasu Raju
        </div>
      <div class="card-body">
        <p class="card-text">Phone +91 9448333260</p>
        <p class="card-text">Email: sjs&#64;gmail.com</p>
        <p class="card-text">Address: 123, Some Street, Some City, Some Country - 123456</p>
        <p class="card-text">Designation: CEO</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card h-100">
        <div class="card-header fw-bold">
            V. Murali Krishna Raju
        </div>
      <div class="card-body">
        <p class="card-text">Phone +91 9448333260</p>
        <p class="card-text">Email: sjs&#64;gmail.com</p>
        <p class="card-text">Address: 123, Some Street, Some City, Some Country - 123456</p>
        <p class="card-text">Designation: CEO</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card h-100">
        <div class="card-header fw-bold">
            V. Krishna Veni
        </div>
      <div class="card-body">
        <p class="card-text">Phone +91 9448333260</p>
        <p class="card-text">Email: sjs&#64;gmail.com</p>
        <p class="card-text">Address: 123, Some Street, Some City, Some Country - 123456</p>
        <p class="card-text">Designation: CEO</p>
      </div>
    </div>
  </div>
</div>
