<div class="card">
    <div class="card-header">
        <h5 class="card-title text-center text-wrap fw-bold">Chilly Powder Hot</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- <div class="col-12">
                    <a routerLink="#/home/products" class="btn btn-secondary mb-3">Back to Products</a>
                </div> -->
            <div class="col-lg-4 col-md-4 col-sm-12  d-flex justify-content-center align-items-center order-1 order-md-1">
                <img src="../../../assets/images/sjs_logo.png" class="img-fluid" alt="Chilly Powder Hot">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 justified order-2 order-md-2">
                <p class="fs-5 fw-bold text-start"><u>About:</u></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis, quia molestias saepe sit eos
                    voluptatibus non soluta dolores ullam maiores labore odio voluptatum accusamus aperiam, neque
                    necessitatibus? Vel, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid
                    provident tempore perferendis tenetur aperiam deserunt ipsum et cum hic doloribus aut explicabo sint nulla
                    blanditiis, magnam tempora facilis. Aspernatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Commodi perferendis ab maiores atque quis corporis, sunt at quisquam minima rem, quaerat porro accusamus
                    totam alias optio, doloremque deserunt corrupti ipsum?</p>
                <!-- <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <h4>Price: {{ product.price | currency:'INR' }}</h4>
                    <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button> -->
            </div>
        </div>
        <div class="row my-4 ">
            <!-- <div class="col-12">
                    <a routerLink="#/home/products" class="btn btn-secondary mb-3">Back to Products</a>
                </div> -->
        
            <div class="col-lg-8 col-md-8 col-sm-12 justified order-2 order-md-1">
                <p class="fs-5 fw-bold text-start"><u>Process:</u></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis, quia molestias saepe sit eos
                    voluptatibus non soluta dolores ullam maiores labore odio voluptatum accusamus aperiam, neque
                    necessitatibus? Vel, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid
                    provident tempore perferendis tenetur aperiam deserunt ipsum et cum hic doloribus aut explicabo sint nulla
                    blanditiis, magnam tempora facilis. Aspernatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Commodi perferendis ab maiores atque quis corporis, sunt at quisquam minima rem, quaerat porro accusamus
                    totam alias optio, doloremque deserunt corrupti ipsum?</p>
                <!-- <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <h4>Price: {{ product.price | currency:'INR' }}</h4>
                    <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12  d-flex justify-content-center align-items-center order-1 order-md-2">
                <img src="../../../assets/images/sjs_logo.png" class="img-fluid" alt="Chilly Powder Hot">
            </div>
        </div>
        <div class="row my-4 ">
            <!-- <div class="col-12">
                    <a routerLink="#/home/products" class="btn btn-secondary mb-3">Back to Products</a>
                </div> -->
            <div class="col-lg-4 col-md-4 col-sm-12  d-flex justify-content-center align-items-center order-1 order-md-1">
                <img src="../../../assets/images/sjs_logo.png" class="img-fluid" alt="Chilly Powder Hot">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-break justified order-2 order-md-2">
                <p class="fs-5 fw-bold text-start"><u>Usage:</u></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis, quia molestias saepe sit eos
                    voluptatibus non soluta dolores ullam maiores labore odio voluptatum accusamus aperiam, neque
                    necessitatibus? Vel, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aliquid
                    provident tempore perferendis tenetur aperiam deserunt ipsum et cum hic doloribus aut explicabo sint nulla
                    blanditiis, magnam tempora facilis. Aspernatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Commodi perferendis ab maiores atque quis corporis, sunt at quisquam minima rem, quaerat porro accusamus
                    totam alias optio, doloremque deserunt corrupti ipsum?</p>
                <!-- <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <h4>Price: {{ product.price | currency:'INR' }}</h4>
                    <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button> -->
            </div>
        </div>
    </div>
</div>